/**
 *  General overwrite styles
 */
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 1.0em;
}

p {
    font-size: 16px;
}

h1,h2,h3,h4,h5 {
    font-weight: 100;
}

h2 {
    color: #603D77;
    font-size: 32px;
    margin: 0;
}

p {
    margin: 10px 0;
    line-height: 150%;
}

b {
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/**
 *  Helper classes
 */
.text-center {
    text-align: center;
}

.img {
    max-width: 100%;
}

.img-thumbnail {
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
}

.left, .right {
    width: 50%;
    padding: 2.5%;
    box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: left;
}

.wrap {
    width: 100%;
    float: left;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/**
 *  Core styles
 */
#hero {
    background: url(/img/people-night.jpg) no-repeat center top;
    background-size: cover;
    text-align: center;
}

#hero .container {
    padding: 200px 0;
}

#hero h1, #hero h4 {
    color: #fff;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.75);
}

#hero h1 {
    font-size: 74px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}

#hero h1 b {
    font-size: 104px;
}

#hero h4 {
    font-size: 34px;
    margin: 0;
}

.hero-btns {
    list-style: none;
    margin: 50px 0 0;
    padding: 0;
}

.hero-btns li {
    display: inline-block;
    margin: 0 10px;
}

.btn {
    display: inherit;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    text-decoration: none;
}

.btn-transparent {
    color: #fff;
    border: 2px solid #fff;
}

.btn-transparent:hover {
    background: rgba(255,255,255,0.1) ;
}

.btn-primary {
    color: #fff;
    border: 2px solid #3B1156;
    background: #603D77;
}

.btn-primary:hover {
    background: #593571;
}

#navigation {
    background: #603D77;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    display: inline-block;
}

#navigation a {
    color: #bbb;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    display: inherit;
}

#navigation a:hover {
    color: #fff;
    background: #513067;
}

#mission {
    background: #f5f5f5;
}

#our-people {
    background: #f5f5f5;
}

#about li {
    width: 33.3333333%;
    float: left;
}

#about img {
    width: 100%;
    opacity: .75;
}

#about img:hover {
    opacity: 1;
}

.address {
    width: 25%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

#map iframe {
    width: 100%;
    height: 300px;
}

#footer {
    background: #603D77;
    color: #fff;
}

#footer h2 {
    color: #fff;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#devices, #mission, #our-people, #map-intro, #footer {
    padding: 50px 0;
}

@media( max-width: 768px ) {
    .left, .right {
        width: 100%;
    }

    #about li {
        width: 50%;
    }

    .address {
        width: 50%;
    }
}