@import "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic";

/**
 *  General overwrite styles
 */
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 1.0em;
}

p {
    font-size: 16px;
}

h1,h2,h3,h4,h5 {
    font-weight: 100;
}

h2 {
    color: #603D77;
    font-size: 32px;
    margin: 0;
}

p {
    margin: 10px 0;
    line-height: 150%;
}

b {
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    color: #aaa;
    font-size: 14px;
    margin-bottom: 5px;
}

/**
 *  Helper classes
 */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.img {
    max-width: 100%;
}

.img-thumbnail {
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
}

.wrap,
.container {
    display: flex;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container__stacked {
    flex-direction: column;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 2.5%;
    box-sizing: border-box;
}

.form-group {
    float: left;
    margin-bottom: 10px;
}

.width-full {
    width: 100%;
}

.width-half {
    width: 49%;
}

.width-half:first-child {
    margin-right: 2%;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #aaa;
    font-weight: 100;
    box-sizing: border-box;
}

/**
 *  Core styles
 */
#hero {
    background: url(/img/people-night.jpg) no-repeat center top;
    background-size: cover;
}

#hero .container {
    padding: 100px 0;
}

#hero h1, #hero h4 {
    color: #fff;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.75);
}

#hero h1 {
    font-size: 74px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}

#hero h1 b {
    font-size: 104px;
}

#hero h4 {
    font-size: 34px;
    margin: 0;
    font-weight: 300;
}

.hero-btns {
    margin: 50px 0 0;
}

.hero-btns li {
    display: inline-block;
    margin: 0 5px;
}

.btn {
    cursor: pointer;
    font-size: 16px;
    display: inherit;
    font-weight: 400;
    border-radius: 7px;
    padding: 10px 20px;
    text-decoration: none;
    -moz-border-radius: 7px;
    text-transform: uppercase;
    -webkit-border-radius: 7px;
}

.btn-transparent {
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
}

.btn-transparent:hover {
    background: rgba(255,255,255,0.1) ;
}

.btn-primary {
    color: #fff;
    border: 2px solid #3B1156;
    background: #603D77;
}

.btn-primary:hover {
    background: #593571;
}

#navigation {
    background: #603D77;
}

#navigation a {
    color: #bbb;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    display: inherit;
    border-top: 1px solid transparent;
    border-bottom: 5px solid transparent;
}

#navigation a:hover {
    color: #fff;
    background: #513067;
    border-top: 1px solid #C3A3D8;
    border-bottom: 5px solid #3B1156;
}

#mission,
#our-people {
    background: #f5f5f5;
}

#about ul {
    flex-wrap: wrap;
}

#about li {
    line-height: 0;
    flex: 1 1 33.333333%;
}

#about img {
    opacity: .5;
    max-width: 100%;
}

#about img:hover {
    opacity: 1;
}

.address {
    flex: 1;
    padding: 15px;
    box-sizing: border-box;
}

#map iframe {
    width: 100%;
    height: 300px;
}

#footer {
    background: #603D77;
    color: #fff;
}

#footer h2 {
    color: #fff;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#contact-form {
    background: #f5f5f5;
}

#devices,
#mission,
#our-people,
#map-intro,
#footer,
#contact-form,
.inside-page-content {
    padding: 50px 0;
}

.inside-page-content .sidebar {
    flex: 1;
}

.inside-page-content .content {
    flex: 3;
    margin-left: 30px;
}

.module {
    display: flex;
    padding: 5px 0;
    background: #fff;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
}

.module .module-header {
    background: #f5f5f5;
}

.module .module-header h4 {
    margin: 0;
    color: #333;
    padding: 10px;
    font-weight: 400;
}

.module a {
    color: #666;
    display: flex;
    padding: 5px 10px;
    text-decoration: none;
}

.module a:hover {
    background: #f5f5f5;
}

p.failed,
p.success {
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding: 5px 15px;
}

p.failed {
    background: lightcoral;
}

p.success {
    background: darkcyan;
}

@media( max-width: 768px ) {
}